.main-register{
    display: flex;
    margin: 15% auto;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    transition: all 600ms;
    h1{
        font-size: 32px;
        margin: 0 auto;
    }
    .form-register{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        width: 60%; 
        margin: 0 auto;
        transition: all 600ms;

        .form-option{
            display: flex;
            flex-direction: column;
            label{
                padding-bottom: 1%;
            }
            input{
                padding: 1%;
                margin-bottom: 2%;
                border-width: 0.5px;
                border-style:solid;
                border-color: #b8b1b1;
                height: 45px;

                border-radius: 10px;
                transition: all 0.5s;
                font-size: 20px;
            }
            input:focus{
                outline-color: $colorprincipal;
                transition: all 0.5s;
            }
            
        }
        .link-login{
            color: blue;
            transition: all 0.5s;
        }
        .link-login:hover{
            color: rgb(52, 52, 52);
            transition: all 0.5s;
        }
        .button{
            display: flex;
            background-color: $colorprincipal;
            width: 113px;
            height: 50px;
            padding: 15px;
            margin-top: 2%;
            justify-content: center;
            border-radius: 0 0 0 25px;
            transition: all 0.5s;
            color: rgb(225, 225, 225);
            transition: all 600ms;

        }
        .button:hover{
            background-color: #901414;
            transition: all 0.5s;
        }
        p{
            transition: all 600ms;
        }
    }
}

@media(max-width:1275px){
    .main-register{
        height: 625px;
        transition: all 600ms;
    }
}

@media(max-width:950px){
    .main-register{

   
        .form-register{

            width: 90%;
            transition: all 600ms;

            .form-option{

                label{
                    margin-top: 5px;
                    font-size: 15px;

                }
                input{
                }
                
            }
            .options{
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: center;
                transition: all 600ms;
                p{
                    margin-left: 8px;
                    transition: all 600ms;
                }
                .button{
                    font-size: 15px;
                    margin-top: 5px;
                    transition: all 600ms;
                }
            }
        }
    }
}            